.dart_tool/
.hosting/
.tools/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
flutter_*.log
android/.gradle/
android/.kotlin/
android/local.properties
android/app/build/
ios/
linux/
macos/
windows/
*.iml
.idea/
.vscode/
